.beer-columns {
  column-count: 3;
  column-gap: 20px;
  padding: 0 30px; /* add left and right padding */
}

.soju-columns {
  column-count: 3;
  column-gap: 20px;
  padding: 0 30px; /* add left and right padding */
}

.dessert-columns {
  column-count: 4;
  column-gap: 20px;
  padding: 0 30px; /* add left and right padding */
}

.drink-menu {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  break-inside: avoid-column;
}