.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0px;
}

.col {
  flex-basis: calc(100% / 3);
  padding: 10px;
  text-align: left;  /*Menu alignment*/
}

.col-bookend {
  flex-basis: calc(100% / 3);
  padding: 20px;
  text-align: center;  /*Menu alignment*/
}

/*description*/
.yummy {
  font-style: italic;
  font-size: 15px;
  color: green;
}

@media screen and (max-width: 650px) {
  .row {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .col {
    flex-basis: calc(50% - 50px);
    color: green;
  }
}
