@font-face {
    font-family: poppins-medium;
    src: url('static/Poppins-Medium.ttf');
}

* {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins-medium;
  background-color: #a6a491;
}

.splash {
    font-size: 20px;
    height: auto;
}

.splash-about {
    font-size: 30px;
    height: auto;
    background-color: #a6a491;
}

.happy-img { 
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    align:center;
}

.happy-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: #ca1544;
}

nav a {
    color: white;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ca1544;
    transition: .3s;
}

