@font-face {
     font-family: poppins-medium;
     src: url('static/Poppins-Medium.ttf');
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: poppins-medium;
     background-color: #a6a4bb;
}

h1 {
  color: white;
  text-shadow: 0 0 3px black, 0 0 1px black;     
  text-align: center;
}


.happy-img {
     height: auto;
     width: 100%;
     background-size: cover;
     background-position: center;
     align:center;
}

.top-nav {
     font-size: 20px;
     height: auto;
}

.splash-about {
     font-size: 30px;
     height: auto;
     background-color: #a6a4bb;
}

.happy-nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 40px;
     padding-left: 10%;
     padding-right: 10%;
}

.nav-flex-row {
     display: flex;
     flex-direction: row;
     justify-content: center;
     position: absolute;
     z-index: 100;
     left: 0;
     width: 100%;
     height: 100px;
     padding: 0;
}

.nav-flex-row li {
     text-decoration: none;
     list-style-type: none;
     padding: 20px 15px;
}
.nav-flex-row li a {
     color: #ffffff;
     font-size: 1.5em;
     text-transform: uppercase;
}



h2 {
     font-color: black;
}
 nav a {
     color: black;
}
 nav ul li{
     flex-direction: row;
     text-decoration: none;
     display: inline-block;
     padding: 10px 20px;
}

 nav ul li a{
     color: black;
     text-decoration: none;
     font-weight: bold;
}
 nav ul li a:hover{
     color: #ca1544;
     transition: .3s;
}

.number {
    text-decoration: none;
    color: inherit;
}
.menu-sep {
  border: none;
  height: 3px;
  background-color: #aa0016;
  margin: 20px 0;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10;
    }
    
    nav a {
        display: block;
        width: 100%;
        border-bottom: none;
    }
    
    nav a:hover {
        font-color: red;
    }
    .nav-flex {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #333;
        width: 100%;
    }
    .nav-flex a {
        display: block;
        padding: 10px;
        color: #fff;
        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid #666;
    }
    .nav-flex a:hover {
        background-color: #555;
    }
    .splash-about {
         font-size: 20px;
         height: auto;\
     }
    .show {
        display: block;
    }
    .happy-img {
        height: auto;
        overflow: hidden;
        width: 150%;
        margin: 0 -25%;
/*        background-size: cover;*/
        background-position: center;
        align:center;
    }
}